<ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
    <li class="{{ isActiveLink('') ? 'active': '' }} bold">
        <a [routerLink]="['']" class="waves-effect waves-cyan">
            <span>Location Map</span>
        </a>
    </li>
    <li class="{{ isActiveLink('/line') ? 'active': '' }} bold">
        <a [routerLink]="['/line']" class="waves-effect waves-cyan">
            <span>Line Map</span>
        </a>
    </li>
</ul>