<adminHeader></adminHeader>
<div id="main">
    <div class="wraper containerToRight">
        <aside id="left-sidebar-nav">
            <adminSidebar></adminSidebar>
        </aside>
        <section id="content" style="margin-left: 240px">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>