<header id="header" class="page-topbar">
    <div class="navbar-fixed">
        <nav class="navbar-color light-blue lighten-3">
            <div class="nav-wrapper">

            </div>
        </nav>
    </div>
</header>