<html>

  <head>
    <!-- base url -->
    <base href="{%= o.webpackConfig.metadata.baseUrl %}">
    <title>{%= o.webpackConfig.metadata.title %}</title>

    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}

    <!-- Depencencies used by Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  </head>

  <!-- 3. Display the application -->
  <body>
  <ggps-app>Loading...</ggps-app>
  </body>
  
  {% if (o.webpackConfig.metadata.ENV === 'development') { %}
  <!-- Webpack Dev Server reload -->
  <script src="http://{%= o.webpackConfig.metadata.host %}:{%= o.webpackConfig.metadata.port %}/webpack-dev-server.js"></script>
  {% } %}

  <!-- Webpack HtmlWebpackPlugin manually inject scripts -->
  {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
  <script src="{%= o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
  {% } %}

</html>
